<footer>
    <div class="inner-footer">
        <label class="text-label">USERS © @DateTime.Now.Year</label>
    </div>
</footer>
<div class="popup-form-progress-bar"></div>
<input type="button" value="WORKING..." class="button-progress-bar" disabled="disabled" />
<div class="scroll-top">
    <div class="arrow">&#8593;</div>
</div>
<div class="background-popup"></div>
<div id="popupFormToShow"></div>
